@import "../../scss/Variables.scss";

.sticky-side-bar {
  position: sticky;
  top: 20px;
}

.br-10 {
  border-radius: 10px;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid $company-color-dark-blue;
}

.sidebar-tab-wrapper {
  background-color: white;
  min-height: 60px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.sidebar-tab-label-selected {
  color: $company-color-dark-blue;
  font-weight: bold;
}

.sidebar-head {
  background-color: $company-color-dark-blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active-sign {
  background-color: $company-color-dark-blue;
  width: 20px;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inactive-sign {
  width: 20px;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}