@import '../../../../scss/Variables.scss';
@import '../../../../scss/Animate.scss';

.nav-tabs .nav-link.active.custom-tab {
  color: black;
  background-color: white;
  border-color: #c4c9d0 #c4c9d0 white;
}