@import '../../../../scss/Animate.scss';
@import '../../../../scss/Variables.scss';

.modal-product-form {
  width: 900px;
}

.modal-product-image {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}