@import '../../scss/Variables.scss';
@import '../../scss/Animate.scss';

.paging-root {
  padding: 0;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inactive-page {
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 27px;
  background-color: #ffffff;
  cursor: pointer;
}

.active-page {
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #ffd500;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.161);
  cursor: pointer;
}
