@import "../../scss/Variables.scss";

.footer-wrapper {
  position: relative;
  width: 100%;
  height: 180px;
}

.footer-wrapper-row {
  width: 100%;
  background: $company-color-dark-blue;
  color: white;
  margin: 0px;

  &.grey-bg {
    background: #777777;
    min-height: 178px;
  }
}

.footer-col-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer-logo {
  width: 200px;
}

.footer-col {
  display: flex;
  justify-content: flex-start;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer-li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  padding: 5px;
}

.centered-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-ul {
  padding: 0px;
  margin: 0px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-icon {
  float: left;
  margin-right: 5px;

  &.location-icon {
    margin-top: 2px;
  }
}
