@import "../../scss/Variables.scss";

.navbar-wrapper {
  background-color: white;
  min-height: 70px;
}

.navbar-navitem {
  display: flex;
  align-items: center;
}

.notification-dot {
  background-color: #04d1f2;
  border-radius: 10px;
  position: absolute;
  width: 12px;
  height: 12px;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 7px;
}

.button-logout {
  width: 153px;
  height: 40px;
  background-color: $company-color-dark-blue;
  color: $company-color-yellow;
  border-color: $company-color-dark-blue;
  font-weight: bold;
  
  &:hover {
    background-color: $company-color-yellow;
    color: $company-color-dark-blue;
    border-color: $company-color-yellow;
  }
}

// override navbar-toggler
.outline-none.navbar-toggler {
  outline: none;
}
