// Here you can put custom className that use globally
@import './Animate.scss';
@import './Variables.scss';

// ======================================== BUTTON ========================================


// ======================================== ALIGN CONTENT ========================================
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// ======================================== HEIGHT ========================================
.h-40px {
  height: 40px;
}

.min-h-100vh {
  min-height: 100vh;
}

.min-h-20vh {
  min-height: 20vh;
}

.min-h-65vh {
  min-height: 65vh;
}

.min-h-45vh {
  min-height: 45vh;
}

// ======================================== WIDTH ========================================
.w-18-percent {
  width: 18%;
}

.w-82-percent {
  width: 82%;
}

.min-w-100px {
  min-width: 100px;
}

.w-25px {
  width: 25px;
}

.w-100px {
  width: 100px;
}

.w-150px {
  width: 150px;
}

.w-40-percent {
  width: 40%;
}

// ======================================== FORM CONTROL ========================================
.no-border.form-control:focus {
  border-color: #d8dbe0;
  outline: none;
  box-shadow: none;
}

// ======================================== FLOAT ========================================
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// ======================================== ALIGN SELF ========================================
.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-flex-start {
  align-self: flex-start;
}

// ======================================== ALIGN CONTENT ========================================
.align-content-center {
  align-content: center;
}

// ======================================== FONT SIZE ========================================
.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-16 {
  font-size: 16px;
}

// ======================================== BACKGROUND COLOR ========================================
.bgc-light-gray {
  background-color: $light-gray;
}

.bgc-link-water {
  background-color: $link-water-color;
}

.bgc-company-color-dark-blue {
  background-color: $company-color-dark-blue;
}

// ======================================== COLOR ========================================
.company-color-dark-blue {
  color: $company-color-dark-blue;
}

.color-white {
  color: white;
}

.company-color-yellow {
  color: $company-color-yellow;
}

// ======================================== CURSOR POINTER ========================================
.cursor-pointer {
  cursor: pointer;
}

// ======================================== WHITE SPACE ========================================
.white-space-no-wrap {
  white-space: nowrap;
}

// ======================================== SWEET ALERT ========================================
div.sweet-alert {
  & span.btn {
    z-index: 99999999;
    cursor: pointer;
  }
}

// ======================================== LIST STYLE TYPE ========================================
.list-style-type-none {
  list-style-type: none;
}

// ======================================== POSITION ========================================
.position-relative {
  position: relative;
}

// ======================================== DISPLAY ========================================
.display-block {
  display: block;
}

.display-none {
  display: none;
}

// ======================================== CLEAR ========================================
.clear-both {
  clear: both;
}

// ======================================== LINK (<a href />) ========================================
a:hover {
  color: white;
}

.is-loading {
  position: relative;
  color: transparent;
  width: 100%;
  height: 40px;
  
  &:after {
    display: block;
    position: absolute;
    top: calc(50% - (20px / 2));
    left: calc(50% - (20px / 2));
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid $company-color-dark-blue;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spin-around .5s infinite linear;
    animation: spin-around .5s infinite linear;
  }

  &:hover:after {
    display: block;
    position: absolute;
    top: calc(50% - (20px / 2));
    left: calc(50% - (20px / 2));
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid $company-color-yellow;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spin-around .5s infinite linear;
    animation: spin-around .5s infinite linear;
  }
}

.card-header {
  background-color: $link-water-color;
}

.br-10px {
  border-radius: 10px;
}

.br-top-right-9px {
  border-top-right-radius: 9px;
}

.br-top-left-9px {
  border-top-left-radius: 9px;
}

.form-control:focus {
  border-color: #3692e6;
  box-shadow: 0 0 0 0.1rem rgba(54, 146, 230, 0.5);
  color: black;
}

.form-control {
  color: black;
}

.btn-default {
  background-color: #f4cd48;
  color: #142355;
  outline: none;
  border: none;
  font-weight: bold;
  min-height: 40px;

  &:hover, &:focus {
    background-color: #142355;
    color: #f4cd48;
    border-color: #f4cd48;
    box-shadow: none;
  }

  &:focus .is-loading::after {
    display: block;
    position: absolute;
    top: calc(50% - (20px / 2));
    left: calc(50% - (20px / 2));
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid $company-color-yellow;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spin-around .5s infinite linear;
    animation: spin-around .5s infinite linear;
  }
}

.required:after {
  content:"*";
  color: red;
}
