// font awesome
@import '~font-awesome/css/font-awesome.min.css';

// CoreUI Icons Set
@import "~@coreui/icons/css/free.css";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui/scss/_dropdown-menu-right.scss";

// Import Flag Icons Set
@import "~flag-icon-css/css/flag-icon.min.css";

// Import Font Awesome Icons Set
@import "~font-awesome/css/font-awesome.min.css";

// Import Simple Line Icons Set
@import "~simple-line-icons/css/simple-line-icons.css";

// If you want to override variables do it here
@import "./Variables.scss";

// If you want to create global style do it here
@import "./Custom.scss";

// default style when create-react-app
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

html body .app.flex-row.align-items-center {
  height: 100vh;
}

html,
body {
  height: 100%;
}
