// Variable overrides
// with this variables, you can use it like this:
// .class-name { font-color: $company-color-dark-blue; }

// example
$company-color-dark-blue: #142355;
$bright-turquoise: #0ddbbc;
$light-gray: #d7d8d9;
$company-color-yellow: #f4cd48;
$link-water-color: #d8dbe0;