@import '../../../../scss/Animate.scss';
@import '../../../../scss/Variables.scss';

.product-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.edit-button {
  position: absolute;
  top: 5px;
  right: 50px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}